@page
@model InternManagement.Pages.TestPage.NotificationsTestModel
@{
}
<h1>Notifications</h1>

@if (Model.User != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>InternId</th>
                <th>UserId</th>
                <th>FullName</th>
                <th>CvUrl</th>
                <th>PhotoUrl</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.InternId</td>
                    <td>@item.UserId</td>
                    <td>@item.FullName</td>
                    <td>@item.CvUrl</td>
                    <td>
                        <img src="@Model.ImageSrc" style="max-width: 100px; max-height: 100px" />
                    </td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No notifications found.</p>
}

