@page
@model InternManagement.Pages.Assignments.AssignmentManagementModel
@{
    ViewData["Title"] = "Assignment Managment";
}
<div class="row">
    <h2>Add User</h2>
    <div class="col-md-4 mt-4">
        <form method="post" asp-page-handler="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Assignment.Description" class="control-label"></label>
                <input asp-for="Assignment.Description" class="form-control" />
                <span asp-validation-for="Assignment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.Deadline" class="control-label"></label>
                <input asp-for="Assignment.Deadline" class="form-control" />
                <span asp-validation-for="Assignment.Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.Grade" class="control-label"></label>
                <input asp-for="Assignment.Grade" class="form-control" type="password" />
                <span asp-validation-for="Assignment.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.Weight" class="control-label"></label>
                <input asp-for="Assignment.Weight" class="form-control" type="password" />
                <span asp-validation-for="Assignment.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.Complete" class="control-label"></label>
                <input asp-for="Assignment.Complete" class="form-control" type="password" />
                <span asp-validation-for="Assignment.Complete" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create Assignment" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-8">
        @if (Model.Assignments != null && Model.Assignments.Count > 0)
        {
            <div class="table-responsive border rounded p-1" style="max-height: 400px; overflow-y: auto; max-width:1000px">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Assignments[0].Description)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Assignments[0].Deadline)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Assignments[0].Grade)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Assignments[0].Weight)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Assignments[0].Complete)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Assignments)
                        {
                            <tr class="table-active">
                                <td scope="row">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td scope="row">
                                    @Html.DisplayFor(modelItem => item.Deadline)
                                </td>
                                <td scope="row">
                                    @Html.DisplayFor(modelItem => item.Grade)
                                </td>
                                <td scope="row">
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td scope="row">
                                    @Html.DisplayFor(modelItem => item.Complete)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.AssignmentId" class="btn btn-primary">Edit</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.AssignmentId" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No users available.</p>
        }
    </div>
